body {
  background:#777777;
}

.gif-button {
  background:white;
}

.user-button {
  background: white;
}

.display {
  background: black;
}

.space {
  padding:2rem;
  height:100px;
}

.label-text {
  color:white;
  
}

.error-text {
  font-size:50px;
  color:red;
  padding:50px;
  background:white;
}

.rating-text {
  color:white;
  
}

